#bracket_container {
  margin: 0px auto;
  position: relative;
  white-space: nowrap;
}

.bracket_column {
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  height: 400px; /* 100px * number of rounds */
}

.bracket_cell_quarter {
  float: top;
  margin: 0;
  height: 25%;
}

.upper_team_bracket_cell {
  float: top;
  margin: 0;
  position: relative;
}

.lower_team_bracket_cell {
  float: top;
  margin: 0;
  position: relative;
}

.upper_team_bracket_cell_data {
  position: absolute;
  bottom: 0;
}

.upper_team_bracket_cell_text {
  color: blue;
}

.lower_team_bracket_cell_text {
  color: red;
}

.upper_team_bracket_cell_text , .lower_team_bracket_cell_text {
  width: 350px;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 1.0), rgba(200, 200, 200, 0.0))
}

.upper_child_cell.bracket_cell_with_match > .bottom_quarter_cell , .upper_child_cell.bracket_cell_with_match > .lower_team_bracket_cell , .lower_child_cell.bracket_cell_with_match > .top_quarter_cell , .lower_child_cell.bracket_cell_with_match > .upper_team_bracket_cell {
  border-right: 2px;
  border-right-style: solid;
  border-right-color: black;
}

.bracket_cell_with_match > .upper_team_bracket_cell, .bracket_cell_with_match > .bracket_finals_cell {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.bracket_cell_with_match > .lower_team_bracket_cell {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: black;
}

.add_match_link {
  background-color: lightgreen;
}

.delete_match_link {
  float: right;
  background-color: orange;
}
