body {
  padding-top: 50px;
}

.team_match_at_ring {
  background-color: cyan !important;
}

.team_match_sent_to_ring {
  background-color: lightblue !important;
}

.team_match_in_holding {
  background-color: lightskyblue !important;
}

.errorlist {
  font-weight: bold;
  color: red;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 100%;
    padding-bottom: 100%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.sidebar .nav-item {
    width: 100%;
}

.nav-sidebar > li > a {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
