<a class="btn btn-primary" href="{% url 'tmdb:competitor_add' tournament.slug school_registration.school.slug %}">Add competitor</a>

<table class="table table-striped">
  <thead>
  <th> Name </th>
  <th> Sex </th>
  <th> Belt Rank </th>
  <th> Weight (lbs) </th>
  </thead>
{% for competitor in competitors %}
  <tr>
    <td> {{competitor.name}} </td>
    <td> {{competitor.sex_label}} </td>
    <td> {{competitor.belt_rank_label}} </td>
    <td> {{competitor.weight|default:"-"}} </td>
    <td><a class="btn btn-primary" href="{% url 'tmdb:competitor_change' tournament.slug school_registration.school.slug competitor.id %}">Edit</a></td>
    <td>
      <button type='button' class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteCompetitorModal{{competitor.id}}">Delete</button>
      <div class="modal" id="confirmDeleteCompetitorModal{{competitor.id}}" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="deleteCompetitorModalLabel">Delete Competitor</h4>
            </div>
            <div class="modal-body">
              <p> Are you sure you want to delete competitor ({{competitor.name}} from {{school_registration.school}})? </p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'tmdb:delete_competitor' tournament.slug school_registration.school.slug competitor.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete Competitor</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>

{% endfor %}
</table>

