{% if team_matches %}
<div class="form-horizontal">
  {% if tournament_division %}
  <div>
    <p><a href="{%url 'tmdb:match_sheet' tournament_division.tournament.slug tournament_division.division.slug %}"><input class="btn btn-primary" type="button" value="Print All Match Sheets"></input></a></p>
  </div>
  {% endif %}
  <script type="text/javascript">
    window.addEventListener("load", function() {
      start_teammatch_websocket("{{tournament.slug}}", "{%url 'tmdb:tournament_json' tournament.slug%}");
    });
  </script>
</div>
{% else %}
<div>
No matches are available
</div>
{% endif %}
