{% if school_tournament_registration %}
<a class="btn btn-primary" href="{% url 'tmdb:team_registration_add' tournament.slug school_tournament_registration.school_season_registration.school.slug %}">Add team</a>
{% endif %}
<table class="table table-striped">
  <thead>
  <th> Team Name </th>
  </thead>
  {% for team_registration in team_registrations %}
  <tr>
    <td> {{team_registration.team_list_str}} </td>
    <td><a class="btn btn-primary" href="{% url 'tmdb:team_registration_change' tournament.slug team_registration.team.school.slug team_registration.team.division.slug team_registration.team.number %}">Edit</a></td>
    <td><a class="btn btn-danger" href="{% url 'tmdb:team_registration_delete' tournament.slug team_registration.team.school.slug team_registration.team.division.slug team_registration.team.number %}">Delete</a></td>
  </tr>
{% endfor %}
</table>

