<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <title> {% block title %} {% endblock %} </title>
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'tmdb:index' %}">ECTC</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              {% if user.is_authenticated %}
              <li class="navbar-text">Logged in as {{user.username}}</li>
              <li><a href="{%url 'tmdb:logout'%}?next={{request.path}}">Logout</a></li>
              <li> <a href="{% url 'tmdb:settings' %}">Settings</a></li>
              {% else %}
              <li class="navbar-text">Viewing as anonymous guest.</li>
              <li><a href="{%url 'tmdb:login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
            </ul>
          <ul class="nav navbar-nav pull-left">
              <li class="active"><a href="{% url 'tmdb:index' %}">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">League Standings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      {% block main-content %} {% endblock %}
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-1.11.3.min.js"> </script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
    {% block script %} {% endblock %}

  </body>
</html>
