{% extends "tmdb/base.html" %}

{% block main-content %}
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      <li><a href="{% url 'tmdb:tournament_dashboard' tournament%}">Current Dashboard</a></li>
      <li><a href="">Divisions</a></li>
      <li><a href="">Seedings</a></li>
      <li><a href="">Teams</a></li>
      <li><a href="">Bracket View</a></li>
    </ul>
    </div>
    <div class="col-sm-9 col-md-10">
      {% block content %} {% endblock %}
    </div>
  </div>
{% endblock %}