{% extends "tmdb/base.html" %}

{% block main-content %}
  <div class="row">
      <nav class="col-sm-2 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'tmdb:tournament_dashboard' tournament.slug %}">Current Dashboard</a></li>
          <li class="nav-item"><a href="">Divisions</a></li>
          <li class="nav-item"><a href="{% url 'tmdb:match_list' tournament.slug %}">Matches</a></li>
          <li class="nav-item"><a href="{% url 'tmdb:tournament_schools' tournament.slug %}">Schools</a></li>
          <li class="nav-item"><a href="{% url 'tmdb:team_list' tournament.slug %}">All Teams</a></li>
          <li class="nav-item"><a href="">Bracket View</a></li>
          <li class="nav-item"><a href="">Standings</a></li>
        </ul>
      </nav>
    <div class="col-sm-9 col-md-10">
      {% block content %} {% endblock %}
    </div>
  </div>
{% endblock %}
