{% extends "tmdb/base_tournament_dashboard.html" %}

{% block title %} List of Teams {% endblock %}

{% block content %}
  <h2>Bracket for {{tournament_division}} at {{tournament_division.tournament}}</h2>
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% if unassigned_teams %}
  <div class="alert alert-warning">The following teams are registered for this division but have not been added to the bracket:
  <ul>
    {% for team in unassigned_teams %}
    <li>{{team}}</li>
    {% endfor %}
  </ul>
  <p>The lowest seed with a first round bye is {{lowest_bye_seed}}.</p>
  </div>
  {% endif %}
  <a class="btn btn-primary" href="{%url 'tmdb:bracket_printable' tournament_division.tournament.slug tournament_division.division.slug %}">Print bracket (svg)</a>
  <a class="btn btn-primary" href="{%url 'tmdb:bracket_printable_pdf' tournament_division.tournament.slug tournament_division.division.slug %}">Print bracket (pdf)</a>
  <div id="bracket_container">
  {% spaceless %}
  {% for bracket_column in bracket_columns %}
    <div class="bracket_column" style="height: {{bracket_column_height}}">
    {% for bracket_cell in bracket_column %}
      <div class="bracket_cell {{bracket_cell.cell_type}}" style="height: {{bracket_cell.height}}">
        <div class="bracket_cell_quarter top_quarter_cell"></div>
        <div class="bracket_cell_quarter upper_team_bracket_cell">
          <div class="upper_team_bracket_cell_data">
            <div class="match_num_data">{% if bracket_cell.number %}Match #{{bracket_cell.number}}{% endif %}</div>
            {% if bracket_cell.pk %}
            <div class="upper_team_bracket_cell_text">
              {% if bracket_cell.blue_team %}
              <a class="delete_match_link" title="Delete team" href="{%url 'tmdb:remove_team_from_bracket' tournament.slug tournament_division.division.slug %}?team_registration={{bracket_cell.blue_team.pk}}">[X]</a>
              <a class="add_match_link" title="Add match" href="{%url 'tmdb:add_team_to_bracket' tournament.slug tournament_division.division.slug %}?round_num={{bracket_cell.round_num}}&round_slot={{bracket_cell.round_slot}}&side=upper">&#x21e6</a>{{bracket_cell.blue_team.bracket_str|default_if_none:""}}
              {% else %}<br/>
              {% endif %}
              </div>
            {% else %}
            <div class="upper_team_bracket_cell_text"></div>
            {% endif %}
          </div>
        </div>
        <div class="bracket_cell_quarter lower_team_bracket_cell">
          {% if bracket_cell.pk %}
          <div class="lower_team_bracket_cell_text">
              {% if bracket_cell.red_team %}
              <a class="delete_match_link" title="Delete team" href="{%url 'tmdb:remove_team_from_bracket' tournament.slug tournament_division.division.slug %}?team_registration={{bracket_cell.red_team.pk}}">[X]</a>
              <a class="add_match_link" title="Add match" href="{%url 'tmdb:add_team_to_bracket' tournament.slug tournament_division.division.slug %}?round_num={{bracket_cell.round_num}}&round_slot={{bracket_cell.round_slot}}&side=lower">&#x21e6</a>{{bracket_cell.red_team.bracket_str|default_if_none:""}}
              {% else %}<br/>
              {% endif %}
</div>
          {% else %}
          <div class="lower_team_bracket_cell_text"></div>
          {% endif %}
        </div>
        <div class="bracket_cell_quarter bottom_quarter_cell"></div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  {% endspaceless %}
  </div>
{% endblock %}

