{% extends "tmdb/base_tournament_dashboard.html" %}

{% block title %} List of Teams {% endblock %}

{% block content %}
  <div id="bracket_container">
  {% spaceless %}
  {% for bracket_column in bracket_columns %}
    <div class="bracket_column" style="height: {{bracket_column_height}}">
    {% for bracket_cell in bracket_column %}
      <div class="bracket_cell {{bracket_cell.cell_type}}" style="height: {{bracket_cell.height}}">
        <div class="bracket_cell_quarter top_quarter_cell"></div>
        <div class="bracket_cell_quarter upper_team_bracket_cell">
          <div class="upper_team_bracket_cell_data">
            <div class="match_num_data">{% if bracket_cell.number %}Match #{{bracket_cell.number}}{% endif %}</div>
            {% if bracket_cell.pk %}
            <div class="upper_team_bracket_cell_text"><a href="{%url 'tmdb:add_match' bracket_cell.number %}">&lt;</a>{{bracket_cell.blue_team}}</div>
            {% else %}
            <div class="upper_team_bracket_cell_text"></div>
            {% endif %}
          </div>
        </div>
        <div class="bracket_cell_quarter lower_team_bracket_cell">
          {% if bracket_cell.pk %}
          <div class="lower_team_bracket_cell_text"><a href="{%url 'tmdb:add_match' bracket_cell.number %}">&lt;</a>{{bracket_cell.red_team}}</div>
          {% else %}
          <div class="lower_team_bracket_cell_text"></div>
          {% endif %}
        </div>
        <div class="bracket_cell_quarter bottom_quarter_cell"></div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  {% endspaceless %}
  </div>
{% endblock %}

