{% extends "tmdb/base_tournament_dashboard.html" %}

{% block main-content %}

{% if add_form %}
<h2>Adding competitor to {{school}}</h2>
<form action="{% url 'tmdb:competitor_add' tournament.slug school_registration.school.slug %}" method="post">
  {% csrf_token %}
  {{add_form.as_p}}
  <input class="btn btn-primary" type="submit" value="Add competitor"/>
</form>
{% endif %}

{% if change_form %}
<h2>Editing competitor {{name}} from {{school}}</h2>
<form action="{% url 'tmdb:competitor_change' tournament.slug school_registration.school.slug competitor.id %}" method="post">
  <input type="hidden" name="competitor_id" value="{{instance.pk}}"/>
  {% csrf_token %}
  {{change_form.as_p}}
  <input class="btn btn-primary" type="submit" value="Save changes"/>
</form>
{% endif %}

{% endblock %}

