{% extends "tmdb/base.html" %}

{% block content %}
  <h1>Tournament Manager</h1>
  <p>Select from one of the tournaments below, or <a href="{% url 'tmdb:tournament_edit' %}">create a new one.</a></p>
  <table>
  {% if tournaments %}
    {% for tournament in tournaments %}
    <tr><td><a href="{% url 'tmdb:tournament_edit' tournament.slug %}">{{tournament.date}} {{tournament.location}}</a></td></tr>
    {% endfor %}
  {% else %}
  <tr><td>There are no existing tournaments in the database.</td></tr>
  {% endif %}
  </table>
  <h1>Administrative Operations</h1>
  <a href="{% url 'tmdb:registration_credentials' %}">Set import registration credentials</a>
{% endblock %}
