{% extends "tmdb/base.html" %}

{% block content %}
  <h1>Tournament Manager</h1>
  <p>Select from one of the tournaments below, or <a href="{% url 'tmdb:tournament_create' %}">create a new one.</a></p>
  <table class="table">
    <tr>
      <th>Tournament Name</th>
      <th>Date</th>
      <th>Details</th>
      <th>Schools</th>
      <th>Delete</th>
    </tr>
  {% if tournaments %}
    {% for tournament in tournaments %}
    <tr>
      <td>{{tournament.location}}</td>
      <td>{{tournament.date}} </td>
      <td><a class="btn btn-primary" href="{% url 'tmdb:tournament_edit' tournament.slug %}">Edit</a></td>
      <td>
        {% if tournament.imported %}
          <a class="btn btn-primary" href="{% url 'tmdb:tournament_schools' tournament.slug %}">Import</a>
        {% else %}
          <p>Not imported</p>
        {% endif %}
      </td>
      <td><a class="btn btn-danger" href="#" role="button">Delete</a></td>
    </tr>
    {% endfor %}
  {% else %}
  <tr><td>There are no existing tournaments in the database.</td></tr>
  {% endif %}
  </table>

{% endblock %}
