{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
    {% for division, team_matches in team_matches %}
    <h2>Division: {{division}}</h2>
          {% if team_matches %}
            <table id="match_table" class="table">
              <tr>
                <th>Match No.</th>
                <th>Blue Team</th>
                <th>Red Team</th>
                <th>Ring No.</th>
              <!--   <th>Division</th> -->
                <th>Winning Team</th>
                <th> Status </th>
                <th> Modify </th>
              </tr>
              {% for team_match in team_matches %}
              <tr>
                <td>{{team_match.number}}</td>
                {% if team_match.blue_team %}
                <td>{{team_match.blue_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.red_team %}
                <td>{{team_match.red_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.ring_number %}
                <td>{{team_match.ring_number}}</td>
                {% else %}
                <td></td>
                {% endif %}
               <!--  <td>{{team_match.division}}</td> -->
                {% if team_match.winning_team %}
                <td>{{team_match.winning_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td> TO BE MODIFIED </td>
                <td><a class="btn" href="{% url 'tmdb:match' team_match.number %}">Modify</a></td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>No matches are available</p>
          {% endif %}
    {% endfor %}
{% endblock %}