{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
    {% for division, team_matches in team_matches %}
    <h2>{{division}}</h2>
          {% if team_matches %}
          <div class="form-horizontal">
            <table id="match_table" class="table">
              <tr>
                <th>Match No.</th>
                <th>Blue Team</th>
                <th>Red Team</th>
                <th>Ring No.</th>
                <th>Winning Team</th>
                <th> Status </th>
                <th> Modify </th>
              </tr>
              {% for team_match in team_matches %}
              <form action="{{request.path}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="team_match_id" value="{{team_match.pk}}"/>
                <tr>
                  <td>{{team_match.number}}</td>
                  {% if team_match.blue_team %}
                  <td>{{team_match.blue_team}}</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  {% if team_match.red_team %}
                  <td>{{team_match.red_team}}</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>{{team_match.form.ring_number}}</td>
                  <td>{{team_match.form.winning_team }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"> Unassigned
                        <span class="caret"></span> 
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a href="#"> In Holding </a></li>
                        <li> <a href="#"> At Ring </a></li>
                        <li> <a href="#"> Competing </a></li>
                        <li> <a href="#"> Done </a></li>
                        <li> <a href="#"> Warning </a></li>
                        <li> <a href="#"> Ring Down </a></li>
                      </ul>
                    </div> 
                  </td>
                  <td><input class="btn btn-primary" type="submit" value="Modify"/></td>
                </tr>
              </form>
              {% endfor %}
            </table>
          </div>
          {% else %}
            <p>No matches are available</p>
          {% endif %}
    {% endfor %}
{% endblock %}
