<div class="division-queue">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#allDivisions" aria-controls="allDivisions" role="tab" data-toggle="tab">All Divisions</a>
    </li>
    {% for division, team_matches in team_matches %}
      <li role="presentation">
        <a href="#division-{{division.division.slug}}" aria-controls="division-{{division.division.slug}}" role="tab" data-toggle="tab">{{division}}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="allDivisions"> 
      <table class="table table-striped match_table">
          <tr>
            <th>Match No.</th>
            <th>Blue Team</th>
            <th>Red Team</th>
            <th>Winning Team</th>
          </tr>
          {% for division, current_matches in team_matches %}
            {% for team_match in current_matches%}
            <tr>
              <td>{{team_match.number}}</td>
              {% if team_match.blue_team %}
                <td>{{team_match.blue_team}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if team_match.red_team %}
                <td>{{team_match.red_team}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if team_match.winning_team %}
                <td>{{team_match.winning_team}}</td>
              {% else %}
                <td></td>
              {% endif %}
              </tr>
            {% endfor %}
          {% endfor %}
      </table>
    </div>
    {% for division, team_matches in team_matches %}
        <div role="tabpanel" class="tab-pane" id="division-{{division.division.slug}}">
          {% if team_matches %}
          <div class="form-horizontal">
            <table id="match_table" class="table">
              <tr>
                <th>Match No.</th>
                <th>Blue Team</th>
                <th>Red Team</th>
                <th>Ring No.</th>
                <th>Winning Team</th>
                <th> Status </th>
                <th> Modify </th>
              </tr>
              {% for team_match in team_matches %}
              <tr>
                <td>{{team_match.number}}</td>
                {% if team_match.blue_team %}
                <td>{{team_match.blue_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.red_team %}
                <td>{{team_match.red_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.ring_number %}
                <td>{{team_match.ring_number}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.winning_team %}
                <td>{{team_match.winning_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td> TO BE MODIFIED </td>
                <td><a class="button" href="">Modify</a></td>
              </tr>
             {% endfor %}
            </table>
          </div>
          {% else %}
            <p>No matches are available</p>
          {% endif %}
        </div>
      {% endfor %}
  </div>
</div>
