{% extends "tmdb/base_tournament_dashboard.html" %}

{% block title %} Editing {{tournament_division.division}} bracket {% endblock %}

{% block content %}
  <h2>Adding match to {{tournament_division}} at {{tournament_division.tournament}}</h2>
  {% if seed and existing_team %}
  <div>Select a team to insert in the bracket. The team selected will have seed <span style="font-weight: bold">{{seed}}</span></div>
  <div>The team that is selected will face the following team in the first round match: <span style="font-weight: bold">{{existing_team}}</span></div>
  {% endif %}
  <form action="{%url 'tmdb:add_team_to_bracket' tournament_division.tournament.slug tournament_division.division.slug%}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update Bracket"/>
  </form>
{% endblock %}


