{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
  <h2>Assigning points for all teams in  {{tournament_division}}</h2>
{% if err_msg %}
  <div class="alert alert-danger">{{err_msg}}</div>
{% endif %}
  <p>Below is a table of the number of points that each team has earned in previous tournaments. Enter each team's points to assist the bracket creator in computing which teams deserve a seed.</p>
  <form action="{% url 'tmdb:team_points' tournament_division.tournament.slug tournament_division.division.slug %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="tournament_division_pk" value="{{tournament_division.pk}}"/>
    <table class="table">
    {% for form in points_forms %}
      {{ form.as_table }}
    {% endfor %}
    </table>
    <input class="btn btn-primary" type="submit" value="Submit"/>
  </form>

{% endblock %}
