<h2>Ring Queues</h2>
  <div class="ring-queue">
    {% if matches_by_ring %}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#allRings" aria-controls="allRings" role="tab" data-toggle="tab">All Rings</a></li>
      {% for ring_num, team_matches in matches_by_ring %}
      <li role="presentation"><a href="#ring{{ring_num}}" aria-controls="ring{{ring_num}}" role="tab" data-toggle="tab">Ring {{ring_num}}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="allRings">
        <table class="table table-striped ring_table">
            <tr>
              <th>Ring No.</th>
              <th>Match No.</th>
              <th>Blue Team</th>
              <th>Red Team</th>
              <th>Division</th>
              <th>Winning Team</th>
            </tr>
            {% for ring_num, team_matches in matches_by_ring %}
              {% for team_match in team_matches%}
              <tr>
                <td>{{ring_num}}</td>
                <td>{{team_match.number}}</td>
                {% if team_match.blue_team %}
                <td>{{team_match.blue_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if team_match.red_team %}
                <td>{{team_match.red_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{team_match.division}}</td>
                {% if team_match.winning_team %}
                <td>{{team_match.winning_team}}</td>
                {% else %}
                <td></td>
                {% endif %}
                </tr>
              {% endfor %}
            {% endfor %}
        </table>
      </div>
      {% for ring_num, team_matches in matches_by_ring %}
        <div role="tabpanel" class="tab-pane" id="ring{{ring_num}}">
          <table class="table table-striped ring_table">
            <tr>
              <th>Ring No.</th>
              <th>Match No.</th>
              <th>Blue Team</th>
              <th>Red Team</th>
              <th>Division</th>
              <th>Winning Team</th>
            </tr>
            {% for team_match in team_matches %}
            <tr>
              <td>{{ring_num}}</td>
              <td>{{team_match.number}}</td>
              {% if team_match.blue_team %}
              <td>{{team_match.blue_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if team_match.red_team %}
              <td>{{team_match.red_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              <td>{{team_match.division}}</td>
              {% if team_match.winning_team %}
              <td>{{team_match.winning_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
  {% else %}
    No matches have yet been assigned to a ring.
  {% endif %}
  </div>
