{% extends "tmdb/base.html" %}

{% load bootstrap %}

{% block main-content %}

  <div class="row page-header">
    <h1 class="col-sm-5 col-md-5">ECTC Schools</h1>
    {% if perms.tmdb.add_school %}
    <a class="col-sm-offset-2 col-sm-3 col-md-offset-3 col-md-3 btn btn-primary" href="{%url 'tmdb:school_add'%}" >Add New School</a>
    {% endif %}
  </div>
  {% if schools %}
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      {% if perms.tmdb.change_school %}
      <th>Edit</th>
      {% endif %}
      {% if perms.tmdb.delete_school %}
      <th>Delete</th>
      {% endif %}
    </thead>
    <tbody>
    {% for school in schools %}
      <tr>
        <td><a href="{% url 'tmdb:school' school.slug %}">{{school.name}}</a></td>
        {% if perms.tmdb.change_school %}
        <td><a class="btn btn-primary" href="{% url 'tmdb:school_change' school.slug %}">Edit</a></td>
        {% endif %}
        {% if perms.tmdb.change_school %}
        <td><a class="btn btn-danger" href="{% url 'tmdb:school_delete' school.slug %}">Delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <tr><td>No schools were found!</td></tr>
  {% endif %}

{% endblock %}
