<h2>Creating brackets for {{division_name}} division</h2>
<p>Below are the seedings for all teams. In order to create a bracket, the following conditions must be met:
  <ul>
    <li>
    All seed numbers must be either blank or greater than zero.
    </li>
    <li>
    All seed numbers which are not blank must be unique.
    </li>
  </ul>
If a team is not assigned a seed, it will not be placed into the bracket. It can be added manually afterward.
</p>
<p>
***WARNING*** As soon as you submit this form, ALL MATCHES IN THIS DIVISION WILL BE DELETED. This means that ALL RING ASSIGNMENTS AND MATCH RESULTS WILL BE COMPLETELY LOST AND DELETED. Under no circumstances should this button be pressed once the bracket has started and matches have been completed.
</p>
<form action="/tmdb/seedings/{{division}}" method="post">
  {% csrf_token %}
  <table>
  {% for form in seed_forms %}
    {{ form.as_table }}
  {% endfor %}
  </table>
  <input type="submit" value="Make Bracket!"/>
</form>
