{% extends "tmdb/base.html" %}

{% block main-content %}
 <h2>Adding team to {{school}}</h2>
 <form action="{% url 'tmdb:team_add' tournament.slug school.slug %}" method="post">
 {% csrf_token %}
 <li>
Division: {{form.tournament_division}}
 </li>
 <li>
Team number: {{form.team}}
 </li>
 <li>
Lightweight: {{form.lightweight}}
 </li>
 <li>
Middleweight: {{form.middleweight}}
 </li>
  <li>
 Heavyweight: {{form.heavyweight}}
 </li>
  <li>
Alternate 1: {{form.alternate1}}
 </li>
  <li>
Alternate 2: {{form.alternate2}}
 </li>
 <input class="btn btn-primary" type="submit" value="Add team"/>

  {% endblock %}