{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
{% include "tmdb/snippets/message_area.html" %}
<div class="row page-header">
    <h1 class="col-sm-5 col-md-5">Schools List at {{tournament.location}} on {{tournament.date}}</h1>
    {% if all_schools_imported %}
        <div class="col-sm-offset-2 col-sm-3 col-md-offset-3 col-md-3 btn btn-success"/>
        All schools imported
        </div>
    {% else %}
    <form action="{% url 'tmdb:tournament_school_import' tournament.slug %}" method="post">
        {% csrf_token %}
        <input class="col-sm-offset-2 col-sm-3 col-md-offset-3 col-md-3 btn btn-primary" type="submit" value="Import All Schools"/>
    </form>
    {% endif %}
  </div>
  <a href="{% url 'tmdb:tournament_dashboard' tournament.slug %}" class="btn btn-primary" input type="submit">Go to Tournament Dashboard</a>
  <table class="table table-striped">
    <thead>
    <th> School Name </th>
    <th> Import URL </th>
    <th> Status </th>
    <th> Import </th>
    </thead>
  {% for school_reg in school_registrations %}
    <tr>
      <td><a href="{% url 'tmdb:tournament_school' tournament.slug school_reg.school.slug %}">{{school_reg.school.name}}</a></td>
      <td><a href="{{school_reg.registration_doc_url}}">Google Docs Registration spreadsheet</a></td>
      <td>
          {% if school_reg.imported %}
          <p>Imported</p>
          {% else %}
          <p>Not Imported</p>
          {% endif %}
      </td>
      <td>
        <form action="{% url 'tmdb:tournament_school_import' tournament.slug school_reg.school.slug %}" method="post">
          {% csrf_token %}
          {% if school_reg.imported %}
          <input type="hidden" name="reimport" value="true"/>
          <button class="btn btn-warning" input type="submit"> Re-import Teams </button>
          {% else %}
          <input type="hidden" name="reimport" value="false"/>
          <button class="btn btn-primary" input type="submit"> Import Teams </button>
          {% endif %}
        </form>
      </td>

    </tr>
  {% endfor %}
  </table>
{% endblock %}
