{% extends "tmdb/base.html" %}

{% block main-content %}
<h1>Edit Tournament</h1>

{% if edit_form.instance.slug %}
<form action="{% url 'tmdb:tournament_edit' edit_form.instance.slug %}" method="post">
{% else %}
<form action="{% url 'tmdb:tournament_create' %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ edit_form.as_p }}
    <button type="submit" class="btn btn-default"> Create/Edit Tournament </button>
</form>

{% if import_form %}
<h1>Import</h1>
    {% if not form.instance.imported %}
    <p>Tournament has not been imported.</p>
    <form action="{% url 'tmdb:tournament_import' import_form.instance.slug %}" method="post">
        {% csrf_token %}
        {{ import_form.as_p }}
        <input type="submit" value="Import"/>
    </form>
    {% endif %}
{% endif %}

{% if delete_form %}
<h1>Delete</h1>
Click <a href="{% url 'tmdb:tournament_delete' edit_form.instance.slug %}">here</a> to delete this tournament.
{% endif %}
{% endblock %}

