{% extends "tmdb/base.html" %}

{% block content %}
  <h1>Current Tournament</h1>
  <h1>Divisions</h1>
  {% for division in divisions %}
    <h2>{{division}}</h2>
    <p>
      <a href="{% url 'tmdb:match_list' division.pk %}">Matches</a>
      <a href="{% url 'tmdb:team_list' division.pk %}">Teams</a>
      <a href="{% url 'tmdb:seedings' division.pk %}">Seedings</a>
    </p>
  {% endfor %}
  <h2>All</h2>
  <p>
    <a href="{% url 'tmdb:match_list' %}">Matches</a>
    <a href="{% url 'tmdb:team_list' %}">Teams</a>
  </p>

  <h1>Ring Queues</h1>
<!--   <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">All Matches</a></li>
    <li role="presentation"> <a href="#"> Ring 1 </a> </li>
    <li role="presentation"> <a href="#"> Ring 2 </a> </li>
    <li role="presentation"> <a href="#"> Ring 3 </a> </li>
    <li role="presentation"> <a href="#"> Ring 4 </a> </li>
    <li role="presentation"> <a href="#"> Ring 5 </a> </li>
    <li role="presentation"> <a href="#"> Ring 6 </a> </li>
  </ul>
 -->
  <div class="ring-queue">
    {% if matches_by_ring %}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#allRings" aria-controls="allRings" role="tab" data-toggle="tab">All Rings</a></li>
      {% for ring_num, team_matches in matches_by_ring %}
      <li role="presentation"><a href="#ring{{ring_num}}" aria-controls="ring{{ring_num}}" role="tab" data-toggle="tab">Ring {{ring_num}}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="allRings"> 
        <table class="table ring_table">
            <tr>
              <th>Ring No.</th>
              <th>Match No.</th>
              <th>Blue Team</th>
              <th>Red Team</th>
              <th>Division</th>
              <th>Winning Team</th>
            </tr>
            {% for team_match in team_matches %}
            <tr>
              <td>{{ring_num}}</td>
              <td>{{team_match.number}}</td>
              {% if team_match.blue_team %}
              <td>{{team_match.blue_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if team_match.red_team %}
              <td>{{team_match.red_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              <td>{{team_match.division}}</td>
              {% if team_match.winning_team %}
              <td>{{team_match.winning_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              </tr>
            {% endfor %}
        </table>
      </div>
      {% for ring_num, team_matches in matches_by_ring %}
        <div role="tabpanel" class="tab-pane" id="ring{{ring_num}}">
          <table class="table ring_table">
            <tr>
              <th>Ring No.</th>
              <th>Match No.</th>
              <th>Blue Team</th>
              <th>Red Team</th>
              <th>Division</th>
              <th>Winning Team</th>
            </tr>
            {% for team_match in team_matches %}
            <tr>
              <td>{{ring_num}}</td>
              <td>{{team_match.number}}</td>
              {% if team_match.blue_team %}
              <td>{{team_match.blue_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% if team_match.red_team %}
              <td>{{team_match.red_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              <td>{{team_match.division}}</td>
              {% if team_match.winning_team %}
              <td>{{team_match.winning_team}}</td>
              {% else %}
              <td></td>
              {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %} 
    </div>
  {% endif %}
</div>

{% endblock %}


