{% extends "tmdb/base.html" %}

{% block content %}
  <h1>Current Tournament</h1>
  <h1>Divisions</h1>
  {% for division in divisions %}
    <h2>{{division}}</h2>
    <p>
      <a href="{% url 'tmdb:match_list' division.pk %}">Matches</a>
      <a href="{% url 'tmdb:team_list' division.pk %}">Teams</a>
      <a href="{% url 'tmdb:seedings' division.pk %}">Seedings</a>
    </p>
  {% endfor %}
  <h2>All</h2>
  <p>
    <a href="{% url 'tmdb:match_list' %}">Matches</a>
    <a href="{% url 'tmdb:team_list' %}">Teams</a>
  </p>

  <h1>Ring Queues</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">All Matches</a></li>
    <li role="presentation"> <a href="#"> Ring 1 </a> </li>
    <li role="presentation"> <a href="#"> Ring 2 </a> </li>
    <li role="presentation"> <a href="#"> Ring 3 </a> </li>
    <li role="presentation"> <a href="#"> Ring 4 </a> </li>
    <li role="presentation"> <a href="#"> Ring 5 </a> </li>
    <li role="presentation"> <a href="#"> Ring 6 </a> </li>
  </ul>
  <p><a href="{% url 'tmdb:rings' %}">Ring match queues</a></p>
  <p><a href="{% url 'tmdb:rings' %}?all_matches=1">Ring match queues (all matches)</a></p>

{% endblock %}


