{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
<h1>Competitor information for {{school_registration.school}} at {{school_registration.tournament.location}} on {{school_registration.tournament.date}}</h1>

  <h2>Competitors</h2>
  <h1></h1>
  {% include "tmdb/snippets/competitor_list.html" with competitors=competitors tournament=tournament school_registration=school_registration csrf_token=csrf_token only %}
  <h2>Teams</h2>
  <h1></h1>
  {% include "tmdb/snippets/team_list.html" with team_registrations=team_registrations tournament=tournament school_registration=school_registration csrf_token=csrf_token only %}
{% endblock %}
