{% extends "tmdb/base.html" %}

{% load bootstrap %}

{% block main-content %}

{% if add_form %}
<h1>Create Tournament</h1>
<form action="{% url 'tmdb:tournament_add' %}" method="post">
    {% csrf_token %}
    {{add_form | bootstrap}}
    <button type="submit" class="btn btn-default">Create Tournament</button>
</form>
{% endif %}

{% if change_form %}
<h1>Edit Tournament</h1>
<form action="{% url 'tmdb:tournament_change' change_form.instance.slug %}" method="post">
    {% csrf_token %}
    {{ change_form | bootstrap}}
    <button type="submit" class="btn btn-default">Edit Tournament</button>
</form>
{% endif %}

{% if upload_teams_form %}
    {% if not upload_teams_form.instance.imported %}
    <h1>Upload Teams</h1>
    <p>Teams have not been added for this tournament</p>
    <form enctype="multipart/form-data" action="{% url 'tmdb:tournament_import' upload_teams_form.instance.slug %}" method="post">
        {% csrf_token %}
        {{ upload_teams_form | bootstrap }}
        <button type="submit" class="btn btn-default">Upload</button>
    </form>
    {% endif %}
{% endif %}

{% if delete_form %}
<h1>Delete</h1>
Click <a href="{% url 'tmdb:tournament_delete' delete_form.instance.slug %}">here</a> to delete this tournament.
{% endif %}
{% endblock %}

