{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
<h2>List of teams in {{tournament_division.division}}</h2>
{% if unimported_schools %}
<div class="alert alert-danger">Teams for the following schools have not been imported. Do you want to <a href="{% url 'tmdb:tournament_schools' tournament.slug %}">import them</a> before proceeding?
<ul>
{% for unimported_school in unimported_schools %}
  <li>{{unimported_school.school.name}}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<div>Below is a list of all teams that are registered in this division. Enter each team's number of points earned in previous tournaments to determine which ones will receive preferable seedings.</div>
<div>Once the seedings have been created, click the "Generate Bracket" button to generate the matches for this division from the teams' seeds. <span style="font-weight: bold">Any existing matches in this division will be deleted.</span></div>
<div>
<form action="{% url 'tmdb:create_tournament_division_matches' tournament.slug tournament_division.division.slug %}" method="post">
  {%csrf_token%}
  {{generate_bracket_form}}
  <button class="btn btn-primary" input type="submit">Generate Bracket</button>
</form>
</div>
<table class="table table-striped">
  <thead>
      <th>Team Name</th>
      <th>Points</th>
      <th>Seeding</th>
  </thead>
  {% for team_registration in team_registrations %}
  <tr>
    <td style="font-weight: bold">{{team_registration}}</td>
    <td>{{team_registration.points|default:"-"}}</td>
    <td>{{team_registration.seed|default:"-"}}</td>
    <td><a class="btn btn-primary" href="{% url 'tmdb:division_points' team_registration.tournament_division.tournament.slug team_registration.tournament_division.division.slug team_registration.team.slug%}" >Edit Points</a></td>
    <td><a class="btn btn-primary" href="{% url 'tmdb:division_seeding' team_registration.tournament_division.tournament.slug team_registration.tournament_division.division.slug team_registration.team.slug%}" >Edit Seeding</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
