{% extends "tmdb/base.html" %}

{% block content %}
<h1>Schools List at {{tournament.location}} on {{tournament.date}}</h1>
  <table class="table table-striped">
    <thead>
    <th> School Name </th>
    <th> Import URL </th>
    <th> Status </th>
    <th> Import </th>
    </thead>
  {% for school in organizations %}
    <tr>
      <td><a href="{% url 'tmdb:tournament_school' tournament.slug school.organization.slug %}">{{school.organization.name}}</a></td>
      <td><a href="{{school.registration_doc_url}}">{{school.registration_doc_url}}</a></td>
      <td>
          {% if school.imported %}
          <p>Imported</p>
          {% else %}
          <p>Not Imported</p>
          {% endif %}
      </td>
      <td>
        <form action="{% url 'tmdb:tournament_schools_import' tournament.slug school.organization.slug %}" method="post">
          {% csrf_token %}
          {{ school.import_form.as_p }}
          <button class="btn btn-primary" input type="submit"> Import Teams </button>
        </form>
      </td>

    </tr>
  {% endfor %}
  </table>
{% endblock %}
