{% extends "tmdb/base.html" %}

{% block content %}
<h1>Schools List at {{tournament.location}} on {{tournament.date}}</h1>
  <table class="table table-striped">
  	<thead>
    <th> School Name </th>
    <th> Import URL </th>
    <th> Status </th>
	</thead>
  {% for school in organizations %}
    <tr>
      <td>{{school.organization.name}}</td>
      <td> https://URL </td>
      <td>
	      {% if school.imported %}
	      <p>Imported</p>
	      {% else %}
	      <a class="btn btn-primary"> Need to Import</a>
	      {% endif %}
	  </td>
    </tr>
  {% endfor %}
	</table>
{% endblock %}
