{% extends "tmdb/base.html" %}

{% load bootstrap %}

{% block main-content %}

{% if add_form %}
<h1>Create Tournament</h1>
<form action="{% url 'tmdb:tournament_add' %}" method="post">
    {% csrf_token %}
    {{add_form | bootstrap}}
    <button type="submit" class="btn btn-default">Create Tournament</button>
</form>
{% endif %}

{% if change_form %}
<h1>Edit Tournament</h1>
<form action="{% url 'tmdb:tournament_change' change_form.instance.slug %}" method="post">
    {% csrf_token %}
    {{ change_form | bootstrap}}
    <button type="submit" class="btn btn-default">Edit Tournament</button>
</form>
{% endif %}

{% if import_form %}
    {% if not import_form.instance.imported %}
    <h1>Import</h1>
    <p>Tournament has not been imported.</p>
    <form action="{% url 'tmdb:tournament_import' import_form.instance.slug %}" method="post">
        {% csrf_token %}
        {{ import_form | bootstrap }}
        <button type="submit" class="btn btn-default"> Import </button>
    </form>
    {% endif %}
{% endif %}

{% if delete_form %}
<h1>Delete</h1>
Click <a href="{% url 'tmdb:tournament_delete' delete_form.instance.slug %}">here</a> to delete this tournament.
{% endif %}
{% endblock %}

