{% extends "tmdb/base_tournament_dashboard.html" %}

{% block content %}
  <h1>Current Tournament</h1>
  <p>
    <a href="{% url 'tmdb:team_list' tournament %}">All teams</a>
  </p>
  <p>
    <a href="{% url 'tmdb:match_list' tournament %}">All matches</a>
  </p>
  {% for tournament_div in tournament_divisions %}
    <h4>{{tournament_div}}</h4>
    <p>
      <a href="{% url 'tmdb:match_list' tournament_div.tournament.slug tournament_div.division.slug %}">Matches</a>
      <a href="{% url 'tmdb:team_list' tournament_div.tournament.slug tournament_div.division.slug %}">Teams</a>
      <a href="{% url 'tmdb:seedings' tournament_div.tournament.slug tournament_div.division.slug %}">Seedings</a>
    </p>
  {% endfor %}

  <hr>
  <h3>Matches (based on divisions)</h3>
  {% include "tmdb/match_table_component.html" %}

  <hr>
  {% include "tmdb/ring_table_component.html" %}

{% endblock %}


