{% extends "tmdb/base.html" %}

{% block main-content %}
<h1>Competitor information for {{school_registration.school}} at {{school_registration.tournament.location}} on {{school_registration.tournament.date}}</h1>
  <a href="{% url 'tmdb:add_competitor' tournament.slug school_registration.school.slug %}">
  Add competitor</a>

  <h2>Competitors</h2>
  <table class="table table-striped">
    <thead>
    <th> Name </th>
    <th> Sex </th>
    <th> Belt Rank </th>
    <th> Weight (lbs) </th>
    </thead>
  {% for competitor in competitors %}
    <tr>
      <td> {{competitor.name}} </td>
      <td> {{competitor.sex_label}} </td>
      <td> {{competitor.belt_rank_label}} </td>
      <td> {{competitor.weight|default:"-"}} </td>
      <td><a class="btn btn-primary" href="{% url 'tmdb:edit_competitor' tournament.slug school_registration.school.slug competitor.id %}">Edit</a>
    </tr>
  {% endfor %}
  </table>
  <h2>Teams</h2>
  <table class="table table-striped">
    <thead>
    <th> Team Name </th>
    <th> Lightweight </th>
    <th> Middleweight </th>
    <th> Heavyweight </th>
    <th> Alternate #1 </th>
    <th> Alternate #2 </th>
    </thead>
  {% for team_registration in team_registrations %}
    <tr>
      <td> {{team_registration.team}} </td>
      <td> {{team_registration.lightweight.name|default:"-"}} </td>
      <td> {{team_registration.middleweight.name|default:"-"}} </td>
      <td> {{team_registration.heavyweight.name|default:"-"}} </td>
      <td> {{team_registration.alternate1.name|default:"-"}} </td>
      <td> {{team_registration.alternate2.name|default:"-"}} </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
